<div
  class="row d-flex login__content justify-content-md-center align-content-center p-0 g-0"
>
  <div class="col-lg-4 col-md-4 col-sm-12 shadow p-3 mb-5 rounded p-4">
    <div class="row">
      <div class="col-12">
        <img src="assets/icons/logofull.svg" class="rounded mx-auto d-block" />
      </div>
    </div>
    <div class="d-flex justify-content-center fs-4 my-4">
      <span>Reiniciar contraseña</span>
    </div>
    <div class="d-flex justify-content-center my-1" style="color: #414141">
      <span>
        Introduce el email asociado con tu cuenta para poder reiniciar tu
        contraseña</span
      >
    </div>
    <form
      (ngSubmit)="check__email__registered()"
      method="post"
      class="p-4 mix-white-100"
    >
      <label for="login" class="form-label">Email</label>
      <div class="input-group mb-3">
        <span
          class="input-group-text border border-dark-subtle"
          id="basic-addon1"
          ><i class="bi bi-envelope"></i
        ></span>
        <input
          type="text"
          class="form-control border border-dark-subtle"
          name="email"
          id="email"
          [(ngModel)]="emailValue"
        />
      </div>

      <div class="btn-display d-flex justify-content-center">
        <div
          class="btn-group d-flex justify-content-between w-75"
          style="gap: 3rem"
        >
          <a
            href="/"
            type="submit"
            class="btn btn-light mt-4 rounded mx-auto d-block fw-bold back"
          >
            Volver
          </a>
          <button
            type="submit"
            class="btn btn-primary mt-4 rounded mx-auto d-block fw-bold send"
          >
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
