.table__content {
  background-clip: content-box;
  -webkit-background-clip: content-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.table__header {
  background-color: transparent !important;
}
.content__header {
  font-family: "Roboto";
  font-weight: medium;
}
