
<nav class="navbar navbar-expand sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-between d-flex">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="navbar__logo d-flex">
                        <img class="ps-2" src="assets/icons/logo.svg" alt="logo">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mt-2">
                    <div class="navbar__userinfo__circle rounded-circle col-2 d-flex justify-content-center align-items-center">
                        <div class="navbar__userinfo__circleLetter"> 
                            <span>PG</span>
                        </div>
                    </div>
                </li>
                <li class="nav-item mt-2">
                    <div class="navbar__userinfo__userdata d-flex flex-column justify-content-around ms-2">
                        <div class="navbar__userinfo__username mt-1">
                            <span>Portos de Galicia</span>
                        </div>
                        <div class="navbar__userinfo__role my-2">
                            <span>Concesionario</span>
                        </div>
                    </div>
                </li>
            </ul>     
        </div>
    </div>
</nav>
<div class="row sidebar__content__title fw-bold fs-4 my-3 ms-3 mx-auto pe-0">
    <div class="col-auto d-none d-sm-block">
        <span>Administrativo</span>
    </div>
</div>



