<nav class="navbar navbar-expand sticky-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-between d-flex">
      <div class="navbar__logo d-flex">
        <img class="ps-2" src="assets/icons/logo.svg" alt="logo" />
      </div>
      <div class="navbar__userinfo__group d-flex">
        <div
          class="navbar__userinfo__circle rounded-circle d-flex justify-content-center align-items-center"
        >
          <div
            class="navbar__userinfo__circleLetter d-flex justify-content-center align-items-center"
          >
            @if(letter){
            <span>{{ letter }}</span>
            }
          </div>
        </div>

        <div
          class="navbar__userinfo__userdata d-flex flex-column justify-content-around ms-2"
        >
          <div class="navbar__userinfo__username mt-1">
            @if(username){
            <span>{{ username }}</span>
            }
          </div>
          <div class="navbar__userinfo__role my-2">
            @if(role){
            <span>{{ role }}</span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="row sidebar__content__title fw-bold fs-4 my-3 ms-3 mx-auto pe-0">
  <div class="col-auto d-none d-sm-block">
    @if(role){
    <span>{{ role }}</span>
    }
  </div>
</div>
