<div class="row">
  <div class="col shadow rounded me-2 bg-white p-0">
    <h1 class="m-5 content__header fw-bold">Entradas y Salidas</h1>
    <div class="row justify-content-center">
      <div class="table__content col-11 mb-4">
        <table
          id="generic"
          class="table table-striped table-borderless align-middle"
        >
          <thead>
            <tr>
              <th class="table__header align-middle">Matrícula</th>
              <th class="table__header align-middle">Tipo</th>
              <th class="table__header align-middle">Puerto</th>
              <th class="table__header align-middle">Instalación</th>
              <th class="table__header align-middle">Capitán</th>
              <th class="table__header align-middle">DNI</th>
              <th class="table__header align-middle">Fecha</th>
            </tr>
          </thead>
          <tbody>
            @for(item of data;track item.hin) {
            <tr
              title="Haz click para marcar como leído"
              class="data__row default__opacity"
            >
              <td>{{ item.hin }}</td>
              <!-- Cambia el color de fondo dependiento de si es entrada o salida -->
              @if(item.date_entry_confirmed == null){
              <td>
                <div
                  class="arrival d-flex align-items-center justify-content-center"
                >
                  <span>Entrada</span>
                </div>
              </td>
              } @else {
              <td>
                <div
                  class="departure d-flex align-items-center justify-content-center"
                >
                  <span>Salida</span>
                </div>
              </td>
              }
              <td>{{ item.port_name }}</td>
              <td>{{ item.installation_name }}</td>
              <td>{{ item.name_captain }}</td>
              <td>{{ item.id_captain }}</td>
              @if(item.date_entry_confirmed == null){
              <td>
                <span>{{ item.date_entry_confirmed }}</span>
              </td>
              } @else {
              <td>
                <span>{{ item.date_exit_confirmed }}</span>
              </td>
              }
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
