<div class="row">
  <div class="col shadow rounded me-2 bg-white">
    <h1 class="m-5 content__header">Portos de Galicia</h1>
    <div class="row justify-content-center">
      <div class="table__content col-11 mb-3">
        <table id="aduanas_table" class="table table-striped table-borderless">
          <thead>
            <td>
              <div class="d-flex align-items-center border-bottom">
                <span class="p-1 fw-bold">Entradas y salidas</span>
              </div>
            </td>
            <td colspan="7" class="align-middle justify-end">
              <div
                class="d-flex justify-content-end align-items-center border-bottom"
              >
                <input
                  type="checkbox"
                  (change)="onSelectAllChange($event)"
                  class="checkbox__select p-1"
                  style="width: 18px"
                /><span class="p-1">Marcar todos como leído</span>
              </div>
            </td>
            <tr>
              <th class="table__header align-middle">Matrícula</th>
              <th class="table__header align-middle">Tipo</th>
              <th class="table__header align-middle">Puerto</th>
              <th class="table__header align-middle">Instalación</th>
              <th class="table__header align-middle">Capitán</th>
              <th class="table__header align-middle">DNI</th>
              <th class="table__header align-middle">Fecha</th>
              <th class="table__header align-middle">Hora</th>
            </tr>
          </thead>
          <tbody>
            @for(log of aduanas;track log.hin) {

            <tr
              title="Haz click para marcar como leído"
              class="data__row default__opacity"
              (click)="markAsSeen(log.id_reservation)"
            >
              <td class="align-middle">{{ log.hin }}</td>
              <script></script>
              @if(log.date_exit_confirmed == null){
              <td class="align-middle">
                <div
                  class="arrival d-flex align-items-center justify-content-center"
                >
                  <span>Entrada</span>
                </div>
              </td>
              } @else {
              <td class="align-middle">
                <div
                  class="departure d-flex align-items-center justify-content-center"
                >
                  <span>Salida</span>
                </div>
              </td>
              }

              <td class="align-middle">{{ log.port_name }}</td>
              <td class="align-middle">{{ log.installation_name }}</td>
              <td class="align-middle">{{ log.name_captain }}</td>
              <td class="align-middle">{{ log.id_captain }}</td>
              @if(log.date_exit_confirmed == null){
              <td class="align-middle">
                <span>{{ log.date_entry_confirmed }}</span>
              </td>
              } @else {
              <td class="align-middle">
                <span>{{ log.date_exit_confirmed }}</span>
              </td>
              }
              <td class="align-middle">
                <span>{{ log.hour_log }}</span>
              </td>
            </tr>

            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
