<div class="row">
  <div class="col shadow rounded me-2 bg-white">
    <h1 class="m-5 content__header">Listado Clientes</h1>
    <div class="row justify-content-center">
      <div class="table__content col-11 mb-3">
        <!-- <div class="table__select d-flex justify-content-end">
          <div
            class="table__select__items d-flex justify-content-evenly align-items-center border border-#dee2e6 p-2 rounded-top border-bottom-0"
          >
            <input
              type="checkbox"
              (change)="onSelectAllChange($event)"
              class="checkbox__select p-1"
              style="width: 18px"
            /><span class="p-1">Marcar todos como leído</span>
          </div>
        </div> -->
        <table id="generic" class="table table-striped table-borderless">
          <thead>
            <tr>
              <th class="table__header align-middle">Matrícula</th>
              <th class="table__header align-middle">Tipo</th>
              <th class="table__header align-middle">Puerto</th>
              <th class="table__header align-middle">Instalación</th>
              <th class="table__header align-middle">Capitán</th>
              <th class="table__header align-middle">DNI</th>
              <th class="table__header align-middle">Fecha</th>
              <th class="table__header align-middle">Hora</th>
            </tr>
          </thead>
          <tbody>
            @for(generic of generics;track generic.hin) {
            <tr
              title="Haz click para marcar como leído"
              class="data__row default__opacity"
              (click)="markAsSeen(generic.id_reservation)"
            >
              <td class="align-middle">{{ generic.hin }}</td>
              <script></script>
              @if(generic.date_exit_confirmed == null){
              <td class="align-middle">
                <div
                  class="arrival d-flex align-items-center justify-content-center"
                >
                  <span>Entrada</span>
                </div>
              </td>
              } @else {
              <td class="align-middle">
                <div
                  class="departure d-flex align-items-center justify-content-center"
                >
                  <span>Salida</span>
                </div>
              </td>
              }
              <td class="align-middle">{{ generic.port_name }}</td>
              <td class="align-middle">{{ generic.installation_name }}</td>
              <td class="align-middle">{{ generic.name_captain }}</td>
              <td class="align-middle">{{ generic.id_captain }}</td>
              @if(generic.date_exit_confirmed == null){
              <td class="align-middle">
                <span>{{ generic.date_entry_confirmed }}</span>
              </td>
              } @else {
              <td class="align-middle">
                <span>{{ generic.date_exit_confirmed }}</span>
              </td>
              }
              <td class="align-middle">
                <span>{{ generic.hour_log }}</span>
              </td>
            </tr>

            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
