<div class="row g-0">
    <div class="shadow rounded bg-white">
    <h1 class="mobile-table__title__header font-weight-bold p-2 pt-3">Próximas entradas y salidas</h1>
        <div class="row g-0 justify-content-center p-2">
            <div class="mobile-table__content">
                <table id="generic__mobile" class="table-striped table-borderless mobile-table__content w-100">
                    <thead>
                            <tr>
                            <th class="mobile-table__header ">Matrícula</th>
                            <th class="mobile-table__header ">Tipo</th>
                            <th class="mobile-table__header ">Pantalán</th>
                            <th class="mobile-table__header ">Amarre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(generic of generics;track generic.license) {
                            <tr class="mobile-table__row">
                                <td>{{generic.license}}</td>
                                @if(generic.type == 'Entrada'){
                                    <td>
                                        <div class="arrival d-flex justify-content-center">
                                            <span>{{generic.type}}</span>
                                        </div>
                                    </td>
                                }
                                @else{
                                    <td>
                                        <div class="departure d-flex justify-content-center">
                                            <span>{{generic.type}}</span>
                                        </div>
                                    </td>
                                }
                                <td>{{generic.harbour}}</td>
                                <td>{{generic.date}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
