<div class="container-fluid">
    <div class="mobile-section__content p-2">
        <ul class="nav nav-pills justify-content-center align-items-center d-flex">
            <li class="nav-item mobile-section__active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Entradas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Salidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registros</a>
            </li>
        </ul>
    </div>
</div>