<div class="container-fluid">
  <div class="mobile-section__content p-2 justify-content-center align-items-center">
    <ul class="nav nav-pills" id="navList">
      <li class="nav-item mobile-section__active">
        <a class="nav-link" (click)="selectItem('Inicio', $event)">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="selectItem('Entradas', $event)">Entradas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="selectItem('Salidas', $event)">Salidas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="selectItem('Registros', $event)">Registros</a>
      </li>
    </ul>
  </div>
</div>