.sidebar {
  font-family: "Roboto";
  position: -webkit-sticky;
  position: sticky;
  top: 9rem;
  height: calc(100vh - 10rem);
  overflow-y: auto;
}
.sidebar__content__userinfo {
  background-color: white !important;
  border-radius: 6px;
}
.sidebar__content__userinfoPic {
  width: 75px;
  height: 75px;
}

.sidebar__content__optionsSelected {
  background-color: white !important;
  border-radius: 6px;
  color: var(--corporate-blue);
}

.sidebar__logout {
  color: var(--corporate-blue);
}
