<div class="sidebar row g-0 ms-3 fw-normal">
  <div
    class="col-md-auto sidebar__content d-flex flex-column justify-content-between"
  >
    <div class="container-fluid">
      <div class="sidebar__content__userinfo rounded p-3">
        <img
          class="border border-0 rounded-circle sidebar__content__userinfoPic d-block mx-auto"
          src="assets/pfps/pfp-default.png"
          alt=""
        />
        <span class="d-block text-center pt-2 fw-bold">Fuerzas del estado</span>
      </div>
      <div class="sidebar__content__options mt-3">
        <div
          class="sidebar__content__optionsSelected my-2 d-flex align-items-center"
        >
          <i class="bi bi-house fs-3 ps-2 me-2 my-2"></i>
          <span>Inicio</span>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div
        class="sidebar__logout d-flex align-content-center fw-medium justify-content-center"
      >
        <a (click)="signOut()" href="/login" class="text-decoration-none">
          <div class="d-flex justify-content-center align-items-center">
            <span>Cerrar sesión</span>
            <i class="bi bi-box-arrow-right fs-4 ms-1"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
