<div class="container">
    <div class="row bg-white">
        <div class="col-12 position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="mobile-image__placeholder mt-3"></div>
                </div>
                <img src="assets/icons/incidencia.svg" alt="Icono de reportar incidencia" class="position-absolute top-0 end-0 mt-1 me-3">         
                <form [formGroup]="form">
                <div class="mb-3 mt-2 form-group">
                    <label for="plate" class="form-label">Matrícula</label><br>
                    <div class="input-group mobile-form__content__icon">                
                        <input type="text" class="form-control border border-end-0 border-dark border-opacity-50" name="plate" id="plate" formControlName="plate">
                    </div>
                </div>
                <div class="mb-3 form-group">
                    <label for="captain__name" class="form-label">Capitan</label><br>
                    <div class="input-group mobile-form__content__icon">                
                        <input type="text" class="form-control border border-end-0 border-dark border-opacity-50" formControlName="captain_name" name="captain__name" id="captain__name" readonly>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="captain__doc" class="form-label">DNI</label><br>
                    <div class="input-group mobile-form__content__icon">                
                        <input type="text" class="form-control border border-end-0 border-dark border-opacity-50" formControlName="captain_id" name="captain__doc" id="captain__doc" readonly>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="harbour" class="form-label">Pantalán</label><br>
                    <div class="input-group mobile-form__content__icon">                
                        <input type="text" class="form-control border border-end-0 border-dark border-opacity-50" name="harbour" id="harbour" formControlName="harbour" readonly>
                    </div>
                </div>
                <div class="mb-3" class="form-label">
                    <label for="berth">Amarre</label><br>
                    <div class="input-group mobile-form__content__icon">                
                        <input type="text" class="form-control border border-end-0 border-dark border-opacity-50" formControlName="berth"  name="berth" id="berth" readonly>
                    </div>
                </div>
                <div class="row mb-3 pt-2 d-flex justify-content-center mobile-form__controls">
                    <button type="button" class="btn mobile-form__button" (click)="onVolverClick()">Volver</button>
                    <button class="btn mobile-form__button__register" (click)="onRegisterClick(reservationId)">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>