*{
    font-family: 'Roboto';
}

.mobile-form__button{
    width: 155px;
}


.mobile-form__button__register{
    background-color: #008ECB;
    width: 155px;
    color: white;
}

.mobile-image__placeholder{
    border: 1px solid black;
    width: 150px;
    height: 150px;
}


.mobile-form__content__icon{
    background-color: white !important;
    color: var(--corporate-blue);
    width: 22px;
}