.table__content{
    background-clip: content-box;
    -webkit-background-clip: content-box;
    outline:none;
    border:none;
    text-decoration:none;
}

.table__header{
  background-color: transparent !important;
}
.table__title__header{
  font-weight: bold;
}